/* Tudo que eu fizer com *, vai aplicar na tela inteira*/
* {
    margin: 0 auto;
}

#wrapper {
    width: 1100px;
    background-color: grey;
    padding: 20px 0px;
}

header {
    width: 1060px;
    height: 200px;
    background-color: rgb(107, 179, 238);
    margin: 0px 20px 20px 20px;
}

#carrocel {
    width: 1060px;
    height: 100px;
    background-color: rgb(100, 100, 236);
    margin: 0px 20px 20px 20px;
    text-align: center;
    font-size: 70px;
    border-radius: 15px;
}

.quadrado { 
    width: 250px;
    height: 250px;
    background-color: rgb(177, 176, 176);
    /* Primeiro bloco é do topo, depois direita(right), baixo(bottom) e esquerda(left) */
    margin: 0px 0px 20px 20px;
    /*display: inline-block;*/
    float: left;
    border-radius: 15px;

}
#footer {
    width: 1060px;
    height: 100px;
    background-color: black;
    margin: 0px 20px 0px 20px;
    clear: both;

}