/* Para fazer comentários */

/* Ideal colocar nomes nas tagas, para eu fazer personalizações específicas */
/* # para ID */

#primeiro {

    /* fundo da página */
    background-color: bisque;
    /* alinhas o texto */
    text-align: center;
}

h2 {
    background-color: blue;
    /* Definir a fonte */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: aliceblue;
}

/* apenas o nome da tag para definir personalização para todas as tags com mesmo nome */
p {

    color: black;
    background-color: beige;
    /* tamanho da fonte */
    font-size:x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h3 {
    /* tamanho da fonte */
    font-weight: 200;
    background-color: blueviolet;
    /* cor da fonte */
    color: beige;
    text-align: right;
}

/* . para Class */