* {
    margin: 0 auto;
}

#principal {
    width: 1060px;
    height: 700px;
    background-color: #97f7cd;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    width: 1060px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    
    
}

.navegacao { 
    width: 1060px;
    height: 40px;
    background-color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    line-height: 30px;

}

main {
    width: 600px;
    height: 440px;
    background-color: antiquewhite;
    margin-left: 0px;
    float: left;
    margin-right: 20px;
       

}

aside {
    width: 440px;
    height: 440px;
    background-color: antiquewhite;
    float: left;
    
}

.foto {
    width: 440px;
    height: 440px;
}

p {
    font-size: 20px;
    align-items: center;
    text-align: center;
    
}

section {
    width: 580px;
    height: 40px;
    background-color: grey;
    margin-top: 45%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

footer {
    width: 1060px;
    height: 80px;
    background-color: antiquewhite;
    margin-top: 45%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 0px;
    line-height: 70px;

}